*{
	text-align: center;
    padding: 5px;
}

li {
	list-style-type: none;
	text-align: center;
}

input {
	background-color: white;
	border: none;
	border-radius: 2px;
    border: solid #0693e3 1px;
	text-align: left;
	color: #cf2e2e;
}


.header{
    display: flex;
    flex-direction: row;
    margin: auto;
}

#logo{
    border-radius: 50%;
    width: 200px;

}

#headingDiv{
    margin: auto;
}

h1, h2{
	font-family: 'Times New Roman', Times, serif;
	color: #0693e3;
    margin: -5px auto;
}
h2{
    color: #cf2e2e;
}

.container {
    font-family: sans-serif;
    border: 2px solid #0693e3;
    width: 45%;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding-bottom: 10px;
    -webkit-box-shadow: 3px 0px 10px 0px #8ed1fc;
    -moz-box-shadow: 3px 0px 10px 0px #8ed1fc;
    box-shadow: 3px 0px 10px 0px #8ed1fc;
    padding: 5px;
}

.userInput{
    margin: 0px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.submit{
	background-color: transparent;
	color: black;
	border: 1px solid black;
	width: 50%;
	font-family: sans-serif;
	font-size: 18px;
	transition: 0.9s ease;
	text-align: center;
}

.submit:hover {
	background-color: #8ed1fc;
	color: black;
	border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
	
}


body {
    background-color: white;
    display: flex;
    justify-content: center;   /* horizontal centering */
    align-items: center;       /* vertical centering */
    min-height: 95dvh;         /* full viewport height */
    margin: 0;                 /* remove default body margin */
    padding: 0px;
}


@media screen and (max-width: 1150px) {
  /* CSS rules to apply when the screen width is 900px or less */
  .container{
    width: 50%; 
  }

  .userInput{
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
    #logo{
        width: 130px;
        margin: auto;
    }

    .container{
        width: 60%; 
    }
}

@media screen and (max-width: 590px){
    .header{
        flex-direction: column;
    }

    #logo{
        width: 175px;
        margin: auto;
    }

    .container{
        width: 70%; 
    }
}